<html>

<head>
   <link rel="stylesheet" href="view/bootstrap4/css/bootstrap.min.css">
    <link rel="icon" href="view/img/bati.png" type="image/gif" sizes="20x20">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url(/var/www/html/myNFC/view/img/fundo.png)";>
    <div>
        <div class="header-blue">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container"><a href="#" class="navbar-brand">Libellum Company</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse"
                        id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li role="presentation" class="nav-item"><a href="#" class="nav-link active">Quem Somos ?</a></li>
                            <li class="dropdown"><a data-toggle="dropdown" aria-expanded="false" href="#" class="dropdown-toggle nav-link dropdown-toggle">NFC-e</a>
                                <div role="menu" class="dropdown-menu" style="margin-top:20px;"><a role="presentation" href="#" class="dropdown-item">O que é NFC-e</a>
                                    <div role="presentation" class="dropdown-divider"></div><a role="presentation" href="#" class="dropdown-item">Por que usar ?</a>
                                    <div role="presentation" class="dropdown-divider"></div><a role="presentation" href="#" class="dropdown-item">O que eu ganho com isto ?</a></div>
                            </li>
                        </ul><span class="navbar-text"></span><a class="btn btn-light action-button" role="button" href="#" style="margin-left:335px;">Sign Up</a><a class="btn btn-light action-button" role="button" href="#" style="margin-left:10px;margin-bottom:0px;min-height:38px;max-height:-115px;min-width:82px;">Login</a></div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1" style="width:564px;">
                        <h1 style="font-size:40px;">A Revolução em Cupoes Fiscais</h1>
                        <p>Libellum do latim &quot;Projeto de Lei&quot; é um aplicativo Web voltado para o consumidor, com a função de ajudar o mesmo em seu cotidiano, tendo sempre em mãos todos os seus cupons eletronicos.</p><button class="btn btn-light btn-lg action-button"
                            type="button">Learn More</button></div>
                    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup"><img src="" class="device" />
                            <div class="screen"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="view/jquery/jquery.min.js"></script>
<script type="text/javascript" src="view/bootstrap4/js/bootstrap.min.js"></script>
</body>

</html>