<html>

<head>

    <title>Team</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <link rel="stylesheet" href="view/bootstrap4/css/bootstrap.min.css">
    <link rel="icon" href="view/img/bati.png" type="image/gif" sizes="20x20">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>

<body>
<input type="hidden" name="action" value="i">
<div class="account-registration" action="http://localhost/myNFC/?cont=contLogin" method="post">

    <div class="team-boxed">
        <div class="btn-toolbar" style="padding:18px;">
            <div role="group" class="btn-group"><button class="btn btn-primary" type="button" style="margin-bottom:10px;width:94px;margin-right:13px;margin-left:10px;">Voltar</button></div>
            <div role="group" class="btn-group"></div>
        </div>
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="margin-top:-54px;">Team</h2>
                <p class="text-center">Aplicativo Web projetado com o intuito de servir há todos os consumidores, desenvolvido em aulo com enfase em finalizer o curso de Sistemas da Informação.</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img src="/var/www/html/myNFC/view/img/mateus.jpg" class="rounded-circle" height="150px" width="150px" />
                        <h3 class="name">Mateus Oliveira</h3>
                        <p class="title">Musician</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img src="/var/www/html/myNFC/view/img/arthur.jpg" class="rounded-circle"  height="150px" width="150px" />
                        <h3 class="name">Arthur Demiciano</h3>
                        <p class="title">Artist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box"><img src="/var/www/html/myNFC/view/img/willian.jpg" class="rounded-circle"  height="150px" width="150px" />
                        <h3 class="name">Willian Santos</h3>
                        <p class="title">Stylist</p>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa.</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript" src="view/jquery/jquery.min.js"></script>
<script type="text/javascript" src="view/bootstrap4/js/bootstrap.min.js"></script>

</body>

</html>